@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/*重置浏览器样式*/
* {
    margin: 0;
    padding: 0;
}
/*
    使主体居中
    vw：视窗宽度的百分比（1vw 代表视窗的宽度为 1%）
    vh：视窗高度的百分比
*/
body {
    height: 120vh;
    width: 100vw;
    /* background: #FFE3EC; */
    background-image: url("../data/background2.jpg");
    background-size: cover;
    font-family: 'Pangolin', cursive;
    font-size: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden hidden;
} 

.container {
    position: absolute;
    top: 36vmin;
}

.envelope {
    position: relative;
    background: #eb7885;
    height: 45vmin;
    width: 80.64vmin; /*72*/
}

.cover {
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 22.5vmin solid #f5b5bb;
    border-left: 40.32vmin solid transparent; /*36*/
    border-right: 40.32vmin solid transparent; /*36*/
    top: 22.5vmin;
    z-index: 3;
    pointer-events: none;
}


.cover::after {
    position: absolute;
    content: '';
    border-left: 41.16vmin solid #ffbbc1; /*36.75*/
    border-bottom: 22.5vmin solid transparent; 
    border-top: 22.5vmin solid transparent;
    top: -22.5vmin;
    left: -40.32vmin; /*36*/
}

.cover::before {
    position: absolute;
    content: '';
    border-right: 41.16vmin solid #ffbbc1; /*36.75*/
    border-bottom: 22.5vmin solid transparent;
    border-top: 22.5vmin solid transparent;
    top: -22.5vmin;
    left: -0.84vmin; /*0.75*/
}

#lid {
    position: absolute;
    height: 0;
    width: 0;
    border-top: 22.5vmin solid #ff8896;
    border-left: 40.32vmin solid transparent; /*36*/
    border-right: 40.32vmin solid transparent; /*36*/
    top: 0;
    transform-origin: top;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    z-index: 2;
}

#lid.active {
    transform: rotatex(180deg);
    transition-delay: 0.3s;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    z-index: 0;
}

.shadow {
    position: relative;
    top: 4.5vmin;
    border-radius: 50%;
    opacity: 0.7;
    height: 3vmin;
    width: 80.64vmin; /*72*/
    background: #e8c5d0;
}

#card {
    position: absolute;
    /*白色的卡片*/
    /* background: #fff4fb; */
    background: #f3feff;
    height: 40vmin;
    width: 72.24vmin; /*64.5*/
    display: flex;
    /*设置div水平显示*/
    flex-direction: column;
    /*设置flex子项在每个flex行的交叉轴上的中心对齐，交叉轴方向为column，即垂直方向**/
    align-items: center;
    /*设置flex子项在主轴上的中心对齐*/
    justify-content: center;
    left: 3.75vmin;
    top: 0vmin;
    z-index: 1;
    transition-delay: 1.0s;
    transition-duration: 1.5s;
    transition-timing-function: linear;
}

#card.active{
    transform: translatey(-18vmin);
    transition-delay: 1.0s;
    transition-duration: 1.5s;
    transition-timing-function: linear;
}

.message {
    position: absolute;
    top: 3vmin;
    left: 3vmin;
}

.message_tip {
    position: absolute;
    top: 32vmin;
    left: 24vmin;
}

.messagetxt {
    position: absolute;
    text-align: justify;
    line-height: 28px;
    top: 8vmin;
    left: 6vmin;
    right: 6vmin;
}