*{
	padding: 0px;
	margin: 0px;
	font-size: 25px;
	color: rgb(0, 0, 0);
	font-family: "Microsoft YaHei";
}
body{
	background-color: rgb(244, 255, 232);
	width: 100%;
	max-width: 1920px;
	min-width: 1200px;
}
.canvas{
	position: relative;	
	width: 1360px;
	height: 850px;		
	margin: 30px auto;
	background-color: rgb(192, 244, 254);
	background-image: url('img/LTSL/1.jpg');
	background-repeat:no-repeat;
	background-position: center center;		
	background-attachment:fixed;
	background-size:94% 94%; 
}
.title{
	position: absolute;
	top: 480px;
	left: 360px;	
	width: 300px;
	height: 100px;
    font-size: 50px;
	font-family: 'fangzhengshuti';
	text-align: center; 
	line-height: 150%;
}
.txt1{
    color:rgb(0, 0, 0);
    position: absolute;
	top: 550px;
	left: 360px;	
	width: 300px;
	height: 100px;
	font-family: 'fangzhengshuti';
	text-align: center; 
	line-height: 180%;
}
.txt2{
    color:rgb(0, 0, 0);
    position: absolute;
	top: 100px;
	left: 700px;
	width: 300px;
	height: 100px;
	font-family: 'fangzhengshuti';	
	text-align: center; 
	line-height: 180%;
}
img{
	position: absolute;
	display: inline-block;
	width: 300px;		
	height: auto;	
}
@font-face{
	font-family: 'fangzhengshuti';
	src: url('font/FZSTK.TTF');
}
.hide{
    display: none;
}
